In [1]:
import pandas as pd

In [2]:
stats = pd.read_csv("player_mvp_stats.csv")

In [3]:
stats

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,SF,31,PHO,82,52,32.8,3.8,7.5,...,0.0,0.000,Phoenix Suns,59,23,0.720,0.0,110.6,106.8,3.86
1,1,Aaron Swinson,SF,24,PHO,9,0,5.7,1.1,2.0,...,0.0,0.000,Phoenix Suns,59,23,0.720,0.0,110.6,106.8,3.86
2,2,Antonio Lang,SF,22,PHO,12,0,4.4,0.3,0.8,...,0.0,0.000,Phoenix Suns,59,23,0.720,0.0,110.6,106.8,3.86
3,3,Charles Barkley,PF,31,PHO,68,66,35.0,8.1,16.8,...,1050.0,0.091,Phoenix Suns,59,23,0.720,0.0,110.6,106.8,3.86
4,4,Dan Majerle,SF,29,PHO,82,46,37.7,5.3,12.6,...,0.0,0.000,Phoenix Suns,59,23,0.720,0.0,110.6,106.8,3.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12523,12523,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,...,0.0,0.000,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
12524,12524,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,...,0.0,0.000,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
12525,12525,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,...,0.0,0.000,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
12526,12526,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,...,0.0,0.000,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
12527,12527,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,...,0.0,0.000,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [4]:
del stats["Unnamed: 0"]

In [6]:
pd.isnull(stats).sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          43
3P            0
3PA           0
3P%        1794
2P            0
2PA           0
2P%          77
eFG%         43
FT            0
FTA           0
FT%         431
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [11]:
stats[pd.isnull(stats["FT%"])][["Player", "FTA"]]

                Player  FTA
22          John Coker  0.0
37        Jason Sasser  0.0
48     Adrian Caldwell  0.0
64        Bruno Šundov  0.0
103     Jamal Robinson  0.0
...                ...  ...
12318       Jason Hart  0.0
12362      George King  0.0
12442      Luke Zeller  0.0
12490      Malcolm Lee  0.0
12524      Steve Novak  0.0

[431 rows x 2 columns]

In [56]:
stats = stats.fillna(0)

In [57]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [58]:
predictors = ['Age','G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS']

In [85]:
train = stats[stats["Year"] < 2021]

In [86]:
test = stats[stats["Year"] == 2021]

In [87]:
from sklearn.linear_model import Ridge

reg = Ridge(alpha =.1)

In [88]:
reg.fit(train[predictors], train["Share"])

Ridge(alpha=0.1)

In [89]:
predictions = reg.predict(test[predictors])

In [90]:
predictions = pd.DataFrame(predictions, columns = ["predictions"], index = test.index)

In [91]:
predictions

       predictions
530       0.015828
531      -0.011894
532       0.002951
533      -0.002769
534       0.011433
...            ...
12403    -0.010350
12404    -0.010803
12405     0.013346
12406    -0.019240
12407    -0.004512

[540 rows x 1 columns]

In [92]:
combination = pd.concat([test[["Player", "Share"]], predictions], axis = 1)

In [93]:
combination

                       Player  Share  predictions
530              Aaron Gordon    0.0     0.015828
531             Austin Rivers    0.0    -0.011894
532                   Bol Bol    0.0     0.002951
533          Facundo Campazzo    0.0    -0.002769
534          Greg Whittington    0.0     0.011433
...                       ...    ...          ...
12403             Patty Mills    0.0    -0.010350
12404  Quinndary Weatherspoon    0.0    -0.010803
12405                Rudy Gay    0.0     0.013346
12406               Tre Jones    0.0    -0.019240
12407              Trey Lyles    0.0    -0.004512

[540 rows x 3 columns]

In [94]:
combination.sort_values("Share", ascending = False).head(10)

                      Player  Share  predictions
541             Nikola Jokić  0.961     0.150123
7800             Joel Embiid  0.580     0.158120
3335           Stephen Curry  0.449     0.141567
8954   Giannis Antetokounmpo  0.345     0.203472
1272              Chris Paul  0.138     0.071483
9816             Luka Dončić  0.042     0.150742
6845          Damian Lillard  0.038     0.118150
3245           Julius Randle  0.020     0.087398
3240            Derrick Rose  0.010     0.032031
10134            Rudy Gobert  0.008     0.092713

In [95]:
from sklearn.metrics import mean_squared_error

mean_squared_error(combination["Share"], combination['predictions'])

0.002650868992601129

In [96]:
combination["Share"].value_counts()

0.000    525
0.001      3
0.961      1
0.138      1
0.010      1
0.020      1
0.449      1
0.005      1
0.038      1
0.003      1
0.580      1
0.345      1
0.042      1
0.008      1
Name: Share, dtype: int64

In [97]:
combination = combination.sort_values("Share", ascending=False)
combination["Rk"] = list(range(1,combination.shape[0]+1))

In [98]:
combination.head(10)

                      Player  Share  predictions  Rk
541             Nikola Jokić  0.961     0.150123   1
7800             Joel Embiid  0.580     0.158120   2
3335           Stephen Curry  0.449     0.141567   3
8954   Giannis Antetokounmpo  0.345     0.203472   4
1272              Chris Paul  0.138     0.071483   5
9816             Luka Dončić  0.042     0.150742   6
6845          Damian Lillard  0.038     0.118150   7
3245           Julius Randle  0.020     0.087398   8
3240            Derrick Rose  0.010     0.032031   9
10134            Rudy Gobert  0.008     0.092713  10

In [99]:
combination = combination.sort_values("predictions", ascending = False)
combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))

In [100]:
combination.head(10)

                      Player  Share  predictions   Rk  Predicted_Rk
8954   Giannis Antetokounmpo  0.345     0.203472    4             1
7800             Joel Embiid  0.580     0.158120    2             2
9816             Luka Dončić  0.042     0.150742    6             3
541             Nikola Jokić  0.961     0.150123    1             4
3420            LeBron James  0.001     0.145322   15             5
3335           Stephen Curry  0.449     0.141567    3             6
3828            James Harden  0.001     0.141086   13             7
3831            Kevin Durant  0.000     0.138770  531             8
10528        Zion Williamson  0.000     0.129303  251             9
3545       Russell Westbrook  0.005     0.119877   11            10

In [75]:
combination.sort_values("Share", ascending=False).head(10)

                      Player  Share  predictions  Rk  Predicted_Rk
541             Nikola Jokić  0.961     0.150123   1             4
7800             Joel Embiid  0.580     0.158120   2             2
3335           Stephen Curry  0.449     0.141567   3             6
8954   Giannis Antetokounmpo  0.345     0.203472   4             1
1272              Chris Paul  0.138     0.071483   5            33
9816             Luka Dončić  0.042     0.150742   6             3
6845          Damian Lillard  0.038     0.118150   7            11
3245           Julius Randle  0.020     0.087398   8            24
3240            Derrick Rose  0.010     0.032031   9            73
10134            Rudy Gobert  0.008     0.092713  10            19

In [76]:
def find_ap(combination):
    actual = combination.sort_values("Share", ascending=False).head(5)
    predicted = combination.sort_values("predictions", ascending = False)
    ps = []
    found = 0
    seen = 1
    for index, row in predicted.iterrows():
        if row["Player"] in actual["Player"].values:
            found += 1
            ps.append(found/seen)
        seen +=1
    return sum(ps) / len(ps)

In [77]:
find_ap(combination)

0.7136363636363636

In [101]:
years = list(range(1995, 2022))

In [102]:
aps = []
all_predictions = []
for year in years[5:]:
    train = stats[stats["Year"]<year]
    test = stats[stats["Year"] == year]
    reg.fit(train[predictors], train["Share"])
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns = ["predictions"], index = test.index)
    combination = pd.concat([test[["Player", "Share"]], predictions], axis = 1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))

In [103]:
sum(aps) / len(aps)

0.7307672985090552

In [106]:
def add_ranks(combination):
    combination = combination.sort_values("Share", ascending=False)
    combination["Rk"] = list(range(1,combination.shape[0]+1))
    combination = combination.sort_values("predictions", ascending = False)
    combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))
    combination["Diff"] = combination["Rk"] - combination["Predicted_Rk"]
    return combination

In [110]:
ranking = add_ranks(all_predictions[1])
ranking[ranking["Rk"]<6].sort_values("Diff", ascending = False)

                 Player  Share  predictions  Rk  Predicted_Rk  Diff
10929  Shaquille O'Neal  0.466     0.272036   3             1     2
8550       Chris Webber  0.420     0.157423   4             2     2
8056         Tim Duncan  0.569     0.137012   2             3    -1
7643      Kevin Garnett  0.122     0.115111   5             7    -2
868       Allen Iverson  0.904     0.123538   1             5    -4

In [112]:
def backtest(stats, model, year, predictors):
    aps = []
    all_predictions = []
    for year in years[5:]:
        train = stats[stats["Year"]<year]
        test = stats[stats["Year"] == year]
        model.fit(train[predictors], train["Share"])
        predictions = reg.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns = ["predictions"], index = test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis = 1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps) / len(aps), aps, pd.concat(all_predictions)

In [113]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [114]:
mean_ap

0.7307672985090552

In [115]:
all_predictions[all_predictions["Rk"] <= 5].sort_values("Diff").head(10)

                 Player  Share  predictions  Rk  Predicted_Rk  Diff
1107         Jason Kidd  0.712     0.015312   2           100   -98
4691         Steve Nash  0.839     0.041184   1            41   -40
11354       Joakim Noah  0.258     0.044454   4            40   -36
7692    Peja Stojaković  0.228     0.034305   4            39   -35
4709         Steve Nash  0.739     0.060247   1            31   -30
3341   Chauncey Billups  0.344     0.056507   5            33   -28
1272         Chris Paul  0.138     0.071483   5            33   -28
4724         Steve Nash  0.785     0.085181   2            14   -12
6231        Kobe Bryant  0.291     0.076329   4            15   -11
4772    Carmelo Anthony  0.393     0.079408   3            13   -10

In [118]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis = 1).sort_values(0, ascending = False)

               0     1
13  6.610616e-02  eFG%
18  3.480912e-02   DRB
29  2.326424e-02  W/L%
17  2.248691e-02   ORB
10  1.708858e-02    2P
15  1.267335e-02   FTA
21  9.137588e-03   STL
22  8.993484e-03   BLK
20  7.520868e-03   AST
5   7.230062e-03   FGA
25  6.745027e-03   PTS
7   5.971252e-03    3P
12  4.135828e-03   2P%
4   2.695776e-03    FG
30  2.877990e-04    GB
0   2.688692e-04   Age
27  1.000001e-04     W
1   8.999833e-05     G
2  -4.433796e-07    GS
26 -2.232659e-04  Year
28 -3.136295e-04     L
32 -3.148383e-04  PA/G
31 -3.443204e-04  PS/G
33 -5.085770e-04   SRS
24 -3.529415e-03    PF
16 -3.743963e-03   FT%
3  -3.802142e-03    MP
23 -8.512414e-03   TOV
14 -8.697672e-03    FT
9  -1.229628e-02   3P%
8  -1.288411e-02   3PA
11 -1.906257e-02   2PA
19 -2.793672e-02   TRB
6  -1.281721e-01   FG%

In [120]:
stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x : x/x.mean())

/var/folders/9d/nkzzxfg50bld9n72gf_m51840000gn/T/ipykernel_44324/197558199.py:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x : x/x.mean())

In [121]:
stat_ratios

            PTS       AST       STL       BLK        3P  Year
0      1.319103  0.758048  0.991605  0.931570  1.107162   1.0
1      0.317998  0.151610  0.141658  0.000000  0.000000   1.0
2      0.105999  0.050537  0.000000  0.465785  0.000000   1.0
3      2.708873  2.071999  2.266527  1.630247  2.435757   1.0
4      1.837322  2.071999  1.699895  1.164462  5.314379   1.0
...         ...       ...       ...       ...       ...   ...
12523  0.735752  0.819562  0.479763  1.528302  0.650951   1.0
12524  0.071202  0.000000  0.000000  0.000000  0.130190   1.0
12525  1.281633  0.601012  1.119447  2.547170  0.520761   1.0
12526  0.474679  0.218550  0.319842  1.273585  0.650951   1.0
12527  1.008693  0.655649  1.119447  0.509434  2.343424   1.0

[12528 rows x 6 columns]

In [122]:
stats[["PTS_T", "AST_R", "STL_R", "BLK_R", "3P_R"]] = stat_ratios[["PTS", "AST", "STL", "BLK", "3P"]]

In [123]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,W/L%,GB,PS/G,PA/G,SRS,PTS_T,AST_R,STL_R,BLK_R,3P_R
0,A.C. Green,SF,31,PHO,82,52,32.8,3.8,7.5,0.504,...,0.72,0.0,110.6,106.8,3.86,1.319103,0.758048,0.991605,0.931570,1.107162
1,Aaron Swinson,SF,24,PHO,9,0,5.7,1.1,2.0,0.556,...,0.72,0.0,110.6,106.8,3.86,0.317998,0.151610,0.141658,0.000000,0.000000
2,Antonio Lang,SF,22,PHO,12,0,4.4,0.3,0.8,0.400,...,0.72,0.0,110.6,106.8,3.86,0.105999,0.050537,0.000000,0.465785,0.000000
3,Charles Barkley,PF,31,PHO,68,66,35.0,8.1,16.8,0.486,...,0.72,0.0,110.6,106.8,3.86,2.708873,2.071999,2.266527,1.630247,2.435757
4,Dan Majerle,SF,29,PHO,82,46,37.7,5.3,12.6,0.425,...,0.72,0.0,110.6,106.8,3.86,1.837322,2.071999,1.699895,1.164462,5.314379

In [124]:
predictors += ["PTS_T", "AST_R", "STL_R", "BLK_R", "3P_R"]

In [125]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [126]:
mean_ap

0.7177900537089955

In [130]:
stats["NPos"] = stats["Pos"].astype("category").cat.codes

In [132]:
stats["NTm"] = stats["Tm"].astype("category").cat.codes

In [133]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,PS/G,PA/G,SRS,PTS_T,AST_R,STL_R,BLK_R,3P_R,NPos,NTm
0,A.C. Green,SF,31,PHO,82,52,32.8,3.8,7.5,0.504,...,110.6,106.8,3.86,1.319103,0.758048,0.991605,0.931570,1.107162,8,28
1,Aaron Swinson,SF,24,PHO,9,0,5.7,1.1,2.0,0.556,...,110.6,106.8,3.86,0.317998,0.151610,0.141658,0.000000,0.000000,8,28
2,Antonio Lang,SF,22,PHO,12,0,4.4,0.3,0.8,0.400,...,110.6,106.8,3.86,0.105999,0.050537,0.000000,0.465785,0.000000,8,28
3,Charles Barkley,PF,31,PHO,68,66,35.0,8.1,16.8,0.486,...,110.6,106.8,3.86,2.708873,2.071999,2.266527,1.630247,2.435757,2,28
4,Dan Majerle,SF,29,PHO,82,46,37.7,5.3,12.6,0.425,...,110.6,106.8,3.86,1.837322,2.071999,1.699895,1.164462,5.314379,8,28

In [134]:
stats["Pos"].unique()

array(['SF', 'PF', 'SG', 'C', 'PG', 'PF-SF', 'PG-SG', 'SG-PG', 'PF-C',
       'SG-SF', 'SF-PF', 'SF-SG', 'C-PF', 'SG-PF', 'PG-SF', 'SF-C'],
      dtype=object)

In [140]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators = 50, random_state = 1, min_samples_split = 5)

mean_ap, aps, all_predictions = backtest(stats, rf, years[24:], predictors)

In [141]:
mean_ap

0.7731657513609385

In [142]:
mean_ap, aps, all_predictions = backtest(stats, rf, years[24:], predictors)

In [143]:
mean_ap

0.7731657513609385