In [1]:
years = list(range(1995, 2022))

In [2]:
url_start = "https://www.basketball-reference.com/awards/awards_{}.html"

In [3]:
import requests

for year in years:
    url = url_start.format(year)
    data = requests.get(url)
    
    with open("mvp2/{}.html".format(year), "w+") as f:
        f.write(data.text)

In [4]:
from bs4 import BeautifulSoup

In [5]:
with open("mvp2/1995.html") as f:
    page = f.read()

In [6]:
soup = BeautifulSoup(page, "html.parser")

In [7]:
soup.find('tr', class_="over_header").decompose()

In [8]:
mvp_table = soup.find(id = "mvp")

In [9]:
import pandas as pd

In [10]:
mvp_1995 = pd.read_html(str(mvp_table))[0]

In [11]:
mvp_1995

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48
0,1,David Robinson,29,SAS,73.0,901.0,1050,0.858,81,38.0,27.6,10.8,2.9,1.7,3.2,0.530,0.300,0.774,17.5,0.273
1,2,Shaquille O'Neal,22,ORL,12.0,605.0,1050,0.576,79,37.0,29.3,11.4,2.7,0.9,2.4,0.583,0.000,0.533,14.0,0.230
2,3,Karl Malone,31,UTA,14.0,532.0,1050,0.507,82,38.1,26.7,10.6,3.5,1.6,1.0,0.536,0.268,0.742,13.8,0.212
3,4,Patrick Ewing,32,NYK,2.0,230.0,1050,0.219,79,37.0,23.9,11.0,2.7,0.9,2.0,0.503,0.286,0.750,9.6,0.157
4,5,Hakeem Olajuwon,32,HOU,1.0,147.0,1050,0.140,72,39.6,27.8,10.8,3.5,1.8,3.4,0.517,0.188,0.756,10.7,0.181
5,6,Charles Barkley,31,PHO,1.0,96.0,1050,0.091,68,35.0,23.0,11.1,4.1,1.6,0.7,0.486,0.338,0.748,10.6,0.214
6,7,Scottie Pippen,29,CHI,1.0,83.0,1050,0.079,79,38.2,21.4,8.1,5.2,2.9,1.1,0.480,0.345,0.716,11.8,0.188
7,8,John Stockton,32,UTA,1.0,47.0,1050,0.045,82,35.0,14.7,3.1,12.3,2.4,0.3,0.542,0.449,0.804,13.9,0.233
8,9,Gary Payton,26,SEA,0.0,34.0,1050,0.032,82,36.8,20.6,3.4,7.1,2.5,0.2,0.509,0.302,0.716,11.7,0.187
9,10,Anfernee Hardaway,23,ORL,0.0,23.0,1050,0.022,77,37.7,20.9,4.4,7.2,1.7,0.3,0.512,0.349,0.769,10.7,0.177
10,11,Michael Jordan,31,CHI,0.0,12.0,1050,0.011,17,39.3,26.9,6.9,5.3,1.8,0.8,0.411,0.500,0.801,2.3,0.167
11,12,Dennis Rodman,33,SAS,0.0,9.0,1050,0.009,49,32.0,7.1,16.8,2.0,0.6,0.5,0.571,0.000,0.676,5.8,0.178
12,13,Jason Kidd,21,DAL,0.0,7.0,1050,0.007,79,33.8,11.7,5.4,7.7,1.9,0.3,0.385,0.272,0.698,3.7,0.066
13,14,Clyde Drexler,32,TOT,0.0,3.0,1050,0.003,76,35.9,21.8,6.3,4.8,1.8,0.6,0.461,0.360,0.824,11.7,0.206
14,15,Cedric Ceballos,25,LAL,0.0,1.0,1050,0.001,58,35.0,21.7,8.0,1.8,1.0,0.3,0.509,0.397,0.716,5.2,0.123

In [12]:
dfs = []
for year in years:
    with open("mvp2/{}.html".format(year)) as f:
        page = f.read()
    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr', class_="over_header").decompose()
    mvp_table = soup.find(id = "mvp")
    mvp = pd.read_html(str(mvp_table))[0]
    mvp["Year"] = year
    
    dfs.append(mvp)

In [13]:
mvps = pd.concat(dfs)

In [14]:
mvps.head()

,Rank,Player,Age,Tm,First,Pts Won,Pts Max,Share,G,MP,...,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,Year
0,1,David Robinson,29,SAS,73.0,901.0,1050,0.858,81,38.0,...,10.8,2.9,1.7,3.2,0.530,0.300,0.774,17.5,0.273,1995
1,2,Shaquille O'Neal,22,ORL,12.0,605.0,1050,0.576,79,37.0,...,11.4,2.7,0.9,2.4,0.583,0.000,0.533,14.0,0.230,1995
2,3,Karl Malone,31,UTA,14.0,532.0,1050,0.507,82,38.1,...,10.6,3.5,1.6,1.0,0.536,0.268,0.742,13.8,0.212,1995
3,4,Patrick Ewing,32,NYK,2.0,230.0,1050,0.219,79,37.0,...,11.0,2.7,0.9,2.0,0.503,0.286,0.750,9.6,0.157,1995
4,5,Hakeem Olajuwon,32,HOU,1.0,147.0,1050,0.140,72,39.6,...,10.8,3.5,1.8,3.4,0.517,0.188,0.756,10.7,0.181,1995

In [15]:
mvps.to_csv("mvps.csv")

In [16]:
player_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_per_game.html"

url = player_stats_url.format(1995)
data = requests.get(url)
with open("player/1995.html", "w+") as f:
    f.write(data.text)

In [17]:
from selenium import webdriver

In [18]:
driver = webdriver.Chrome(executable_path = "/Users/garretthayden/Desktop/chromedriver")

/var/folders/9d/nkzzxfg50bld9n72gf_m51840000gn/T/ipykernel_65488/96140840.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path = "/Users/garretthayden/Desktop/chromedriver")

In [19]:
import time

year = 1995
url = player_stats_url.format(year)

driver.get(url)
driver.execute_script("window.scrollTo(1,1000)")
time.sleep(2)

html = driver.page_source

In [20]:
with open("player/{}.html".format(year), "w+") as f:
    f.write(html)

In [21]:
for year in years:
    url = player_stats_url.format(year)

    driver.get(url)
    driver.execute_script("window.scrollTo(1,1000)")
    time.sleep(2)
    
    html = driver.page_source
    with open("player/{}.html".format(year), "w+") as f:
        f.write(html)

In [22]:
dfs = []
for year in years:
    with open("player/{}.html".format(year)) as f:
        page = f.read()

    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr', class_="thead").decompose()
    player_table = soup.find(id = "per_game_stats")
    player = pd.read_html(str(player_table))[0]
    player["Year"] = year
    dfs.append(player)

In [23]:
player.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Precious Achiuwa,PF,21,MIA,61,4,12.1,2.0,3.7,...,1.2,2.2,3.4,0.5,0.3,0.5,0.7,1.5,5.0,2021
1,2,Jaylen Adams,PG,24,MIL,7,0,2.6,0.1,1.1,...,0.0,0.4,0.4,0.3,0.0,0.0,0.0,0.1,0.3,2021
2,3,Steven Adams,C,27,NOP,58,58,27.7,3.3,5.3,...,3.7,5.2,8.9,1.9,0.9,0.7,1.3,1.9,7.6,2021
3,4,Bam Adebayo,C,23,MIA,64,64,33.5,7.1,12.5,...,2.2,6.7,9.0,5.4,1.2,1.0,2.6,2.3,18.7,2021
4,5,LaMarcus Aldridge,C,35,TOT,26,23,25.9,5.4,11.4,...,0.7,3.8,4.5,1.9,0.4,1.1,1.0,1.8,13.5,2021

In [24]:
players = pd.concat(dfs)

In [25]:
players

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,Year
0,1,Alaa Abdelnaby,PF,26,TOT,54,0,9.4,2.2,4.3,...,0.7,1.4,2.1,0.2,0.3,0.2,0.8,1.9,4.7,1995
1,1,Alaa Abdelnaby,PF,26,SAC,51,0,9.3,2.3,4.3,...,0.7,1.4,2.1,0.3,0.3,0.2,0.8,2.0,5.0,1995
2,1,Alaa Abdelnaby,PF,26,PHI,3,0,10.0,0.3,3.7,...,1.0,1.7,2.7,0.0,0.0,0.0,1.7,0.7,0.7,1995
3,2,Mahmoud Abdul-Rauf,PG,25,DEN,73,43,28.5,6.5,13.8,...,0.4,1.4,1.9,3.6,1.1,0.1,1.6,1.7,16.0,1995
4,3,Michael Adams,PG,32,CHH,29,0,15.3,2.3,5.1,...,0.2,0.8,1.0,3.3,0.8,0.0,0.9,1.4,6.5,1995
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,536,Delon Wright,PG,28,SAC,27,8,25.8,3.9,8.3,...,1.0,2.9,3.9,3.6,1.6,0.4,1.3,1.1,10.0,2021
726,537,Thaddeus Young,PF,32,CHI,68,23,24.3,5.4,9.7,...,2.5,3.8,6.2,4.3,1.1,0.6,2.0,2.2,12.1,2021
727,538,Trae Young,PG,22,ATL,63,63,33.7,7.7,17.7,...,0.6,3.3,3.9,9.4,0.8,0.2,4.1,1.8,25.3,2021
728,539,Cody Zeller,C,28,CHO,48,21,20.9,3.8,6.8,...,2.5,4.4,6.8,1.8,0.6,0.4,1.1,2.5,9.4,2021
729,540,Ivica Zubac,C,23,LAC,72,33,22.3,3.6,5.5,...,2.6,4.6,7.2,1.3,0.3,0.9,1.1,2.6,9.0,2021

In [26]:
players.to_csv("players.csv")

In [27]:
team_stats_url = "https://www.basketball-reference.com/leagues/NBA_{}_standings.html"

In [28]:
for year in years:
    url = team_stats_url.format(year)

    data = requests.get(url)

    with open ("team/{}.html".format(year), "w+") as f:
               f.write(data.text)

In [29]:
dfs = []
for year in years:
    with open("team/{}.html".format(year)) as f:
        page =f.read()
    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr', class_="thead").decompose()
    team_table = soup.find(id = "divs_standings_E")
    team = pd.read_html(str(team_table))[0]
    team["Year"] = year
    team["Team"] = team["Eastern Conference"]
    del team["Eastern Conference"]
    dfs.append(team)

    soup = BeautifulSoup(page, "html.parser")
    soup.find('tr', class_="thead").decompose()
    team_table = soup.find(id = "divs_standings_W")
    team = pd.read_html(str(team_table))[0]
    team["Year"] = year
    team["Team"] = team["Western Conference"]
    del team["Western Conference"]
    dfs.append(team)

In [30]:
teams = pd.concat(dfs)

In [31]:
teams

     W   L  W/L%    GB   PS/G   PA/G    SRS  Year                  Team
0   57  25  .695     —  110.9  103.8   6.44  1995        Orlando Magic*
1   55  27  .671   2.0   98.2   95.1   2.78  1995      New York Knicks*
2   35  47  .427  22.0  102.8  104.7  -1.92  1995       Boston Celtics*
3   32  50  .390  25.0  101.1  102.8  -1.85  1995            Miami Heat
4   30  52  .366  27.0   98.1  101.2  -3.28  1995       New Jersey Nets
..  ..  ..   ...   ...    ...    ...    ...   ...                   ...
13  42  30  .583     —  112.4  110.2   2.26  2021     Dallas Mavericks*
14  38  34  .528   4.0  113.3  112.3   1.07  2021    Memphis Grizzlies*
15  33  39  .458   9.0  111.1  112.8  -1.58  2021     San Antonio Spurs
16  31  41  .431  11.0  114.6  114.9  -0.20  2021  New Orleans Pelicans
17  17  55  .236  25.0  108.8  116.7  -7.50  2021       Houston Rockets

[913 rows x 9 columns]

In [32]:
teams.to_csv("teams.csv")